.allColor{
    color: rgb(235, 235, 235);
    background-color: rgb(15, 15, 15);
    font-size: 17px;
}

.basicInfo{
    width: 25%;
    float: right;
}

.summary{
    float: left;
    width: 65%;
}

.inputBox{
    background: transparent;
    color: rgb(235, 235, 235);
    border: gray;
    width: 75%;
}

.mainDiv{
    margin-left: 3%;

}

.userContentBlock{
    float: left;
    width: 75%;
}