#content {
    max-width: 1000px;
    margin: auto;
    left: 40%;
    top: 10%;
    position: absolute;
}
#content-button{
    max-width: 1000px;
    margin: auto;
    left: 40%;
    top: 25%;
    position: absolute;
}
#content-textarea{
    max-width: 1000px;
    margin: auto;
    left: 40%;
    top: 40%;
    position: absolute;
}
