#content {
    max-width: 1000px;
    margin: auto;
    left: 35%;
    top: 5%;
    position: absolute;
}
#content-button{
    max-width: 1000px;
    margin: auto;
    left: 40%;
    top: 15%;
    position: absolute;
}
#content-textarea{
    max-width: 1000px;
    margin: auto;
    left: 30%;
    top: 25%;
    position: absolute;
}
